#project{
    text-align: left;
    padding:20px 20px;
}
#project .head {
    font-size: 20px;
}
#project .heading{
    font-size: 30px;
}
#back{
  cursor: pointer;

}
#backsymbol{
  font-size: 50px;
}
